{% extends "base.html" %}
{% block title %}
代辦事項
{% endblock %}
{% block content %}

{{user.username}}
{{user.email}}

<h1>目前代辦事項</h1>
<hr>

{% if not todos %}
<h2>請先登入或註冊。
<a href="{% url 'login' %}">登入</a>
<a href="{% url 'register' %}">註冊</a>
</h2>
{% endif %}
{% for todo in todos %}
<small>{{todo.created}}</small>
    <div class="card">
    <!-- <h1>{{todo.id}}</h1> -->
    <h2>
        <a href="{% url 'viewtodo' todo.id %}">{{todo.title}}</a>
    </h2>
    {% if todo.text %}
    <li>{{todo.text|linebreaks}}</li>
    {% endif %}
    {% if todo.important %}
    <p style="color: red;">重要</p>
    {% endif %}
    
    

    {% if todo.date_completed %}
    <small style="color: rgb(152, 216, 68);">完成時間:{{todo.date_completed}}</small>
    {% endif %}
    <a href="{% url 'viewtodo' todo.id %}">更新</a>
    <a href="{% url 'deletetodo' todo.id %}" onclick="return confirm('確認是否刪除')">刪除</a>
    <hr>
    </div>

{% endfor %}
{% endblock %}